*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.outer>h1{
    color: white;
    letter-spacing: 1.3px;
    text-transform: uppercase;
}

.outer>.inner{
    background-color: yellow;
    height: 250px;
    width: 250px;
                /* processing time  type  delay */
    /* transition: all 2s ease-out 2s; */
    
    transition-property: all;
    transition-duration: 2s;
    transition-timing-function: ease-in;
    transition-delay: 1s;
}

.outer > .inner:hover{
    background-color: orangered;
    border-radius: 50%;
}


