*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    background-color: black;
    height: 100vh;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.outer>.card{
    background-color: white;
    height: 300px;
    width: 300px;
    border-radius: 20px;
    padding: 20px 40px;
}


.outer>.card>h2{
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 1.3px;
    margin-bottom: 10px;
    font-weight: bold;
}

.outer>.card>p{
    text-align: center;
    font-size: 18px;
    margin-bottom: 10px;
}

.outer>.card>button{
    padding: 10px;
    background-color: black;
    color: white;
    text-transform: uppercase;
    border-radius: 20px;
    letter-spacing: 1.3px;
    width: 100%;
    font-size: 16px;
    border: none;
}





