*{
    margin: 0;
    padding: 0;
    box: sizing 0; /*  border line will display when we provide 0 for it*/
}

.outer{
    background-color: red;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer>.inner{
    height: 400px;
    width: 400px;
    /* background-color: white; */
    border: 2px solid black;
}

.row1{
    display: flex;
}

.row2{
    display: flex;
}

.white{
    height: 50px;
    width: 50px;
    background-color: white;
}

.black{
    height: 50px;
    width: 50px;
    background-color: black;
}