*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-image: linear-gradient(orangered,yellow);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.outer>h1{
    text-transform: capitalize;
    letter-spacing: 1.3px;
    color: white;
    font-size: 40px;
    text-shadow: 1px 2px 2px black;
    position: relative;
    cursor: pointer;
    animation: up_down 4s ease-in-out infinite;
}

@keyframes up_down{
    0%{
        transform: translateY(-100px);
        opacity: 0;
    }

    20%{
        transform: translateY(0);
        opacity: 1;
    }

    80%{
        transform: translateY(30px);
        opacity: 0;
    }

    100%{
        transform: translateY(0);
        opacity: 1;
    }
}

.outer>.inner{
    height: 70%;
    width: 90%;
    /* background-color: white; */
    display: grid;
    /* grid-template-columns: 300px 300px 300px; */
    grid-template-columns: 1fr 1fr 1fr;
    gap: 10px;
}

.outer > h1::after{
    content: "";
    height: 5px;
    background-image:linear-gradient(to right,blue,darkblue,black) ;
    border-radius: 3px;
    width: 0%;
    cursor: pointer;
    position: absolute;
    bottom: 0;
    left: 0;
    transition: width 1s ease-in;
}

.outer>h1:hover::after{
    width: 100%;
}

.inner>.box{
    /* border: 2px solid black; */
    border-radius: 15px;
    box-shadow: 0px 2px 4px black;
    display:flex;
    justify-content: center;
    align-items: center;
    background-position: top;
    background-size: cover;
    transition: all 0.6s ease-in;
}

.box>h1{
    text-transform: uppercase;
    color: white;
}

.inner > .box:hover{
    background-position: center;
    cursor: pointer;
}

.inner>#box_1{
    grid-row: span 2;
    background-image: url(https://sp.yimg.com/ib/th/id/OIP.B5XdFD7hknGDzwUCb7p2twHaEK?pid=Api&w=148&h=148&c=7&dpr=2&rs=1);
}

.inner>#box_2{
    background-image: url(https://tse4.mm.bing.net/th/id/OIP.wDnMA0hHOYD_DA-v2OlVrgHaEo?pid=Api&P=0&h=180);
}

.inner>#box_3{
    background-image: url(https://wallpaperaccess.com/full/1356027.jpg);
}

.inner>#box_4{
    grid-column: span 2;
    background-image: url(https://wallpaperaccess.com/full/496852.jpg);
}

.inner>#box_5{
    background-image: url(https://tse3.mm.bing.net/th/id/OIP.pWkZNiQIIPXVG2XPANcoVAHaEK?pid=Api&P=0&h=180);
}

.inner>#box_6{
    background-image:url(http://fullhdwall.com/wp-content/uploads/2020/03/Sea-Summer-Image-1620x1080.jpg) ;
}

.inner>#box_7{
    background-image:url(https://www.pixelstalk.net/wp-content/uploads/images1/Spring-Images-new.jpg) ;
}

