*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color:rgb(42, 144, 184);
    
}

.outer>.inner{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.outer>.inner>nav>h1{
    font-weight: bold;
    color: white;
}

.outer>.inner>nav{
    /* height: 120px;
    width: 100%; */
    display: flex;
    justify-content: space-around;
    align-items:center;
}

nav>ul{
    height: 90px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

nav>ul>li{
    list-style: none;
    text-transform: uppercase;
    color: white;
    text-shadow: 0px 1px 2px black;
    font-weight: bold;
}

.outer>.inner>.main{
    height: 90%;
    background-color:white;
    display: flex;
    justify-content:center;
}

.left{
    flex-basis: 50%;
    display: flex;
    justify-content: center;
}

.right{
    flex-basis: 50%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    /* background-color: blueviolet; */
}

.outer>.inner>.main>.left>img{
    height: 100%;
    
}

.right>h1{
    text-transform: capitalize;
    font-size: 40px;
    letter-spacing: 1.03px;
    word-spacing: 1.03px;
}

.right>p{
    font-size: 20px;
    word-spacing: 1.03px;
}

.right>button{
    width: 200px;
    padding: 20px 40px;
    background-color:rgb(42, 144, 184) ;
    border: none;
    border-radius: 10px;
    color: white;
    text-transform: capitalize;
    text-shadow: 0px 1px 2px black;
    box-shadow: 1px 2px 2px black;
    cursor: pointer;
    transition: transform 1s ease-in;
}

.right>button:hover{
    background-color:darkblue;
    transform: scale(1.06);
}

.outer>.inner>footer{
    display: flex;
    justify-content: center;
    padding: 50px ;
}

footer>p{
    color: white;
    text-transform: capitalize;
    letter-spacing: 1.03px;
    word-spacing: 2px ;
}

