*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-color:cadetblue;
    display: flex;
    justify-content: center;
    align-items: center;
}

.inner{
    height: 350px;
    width: 400px;
    background-color: white;
    padding: 20px 40px;
    border-radius: 20px;
    display: flex;
    display: block;
}

.inner>h1{
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.inner>p{
    font-style: italic;
    margin-bottom: 8px;
}

.inner>form{
    display: flex;
    flex-direction: column;
    gap: 5px;
    font-weight: bold;
    text-transform: uppercase;
}

.inner>form>#name{
    border-radius: 5px;
    height: 25px;
    padding: 8px;
    background-color:blanchedalmond;
    border: 1px solid black;
}

.inner>form>#email{
    border-radius: 5px;
    height: 25px;
    padding: 8px;
    background-color:blanchedalmond;
    border: 1px solid black;
}

.inner>form>#pswd{
    border-radius: 5px;
    height: 25px;
    padding: 8px;
    background-color:blanchedalmond;
    border: 1px solid black;
}

.inner>form>button{
    height: 30px;
    text-transform: uppercase;
    border-radius: 5px;
    background-color: black;
    color: white;
    border: none;
    font-size: 18px;
}

.inner>ul{
    display: flex;
    justify-content: space-between;
    margin-top: 10px;
}

.inner>ul>li{
    font-weight: bold;
    list-style: none;
}

.inner>ul>li>a{
    text-decoration: none;
}

input::placeholder{
    font-size: 15px;
    /* background-color:chartreuse ; */
    color:black;
    padding: 8px;
    border-radius: 10px;
}

.inner > form > button:hover{
    background-color: chartreuse;
    color: black;
    font-weight: bold;
}