*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.photo{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-repeat: no-repeat;

    background-attachment: fixed;

}

#ph1{
    background-image: url("https://wallpaperaccess.com/full/2765271.jpg");   
}

#ph2{
    background-image: url("https://cdn.wallpapersafari.com/36/30/hGXSIH.jpg");
}

#ph3{
    background-image: url("https://wallpaperbat.com/img/964196-thor-wallpaper.jpg");
}

#ph4{
    background-image: url("https://wallpapers.com/images/hd/4k-gigantic-hulk-opo4wwb4fmna0qta.jpg");
}

.photo>h1{
    font-size: 50px;
    font-weight: bold;
    text-transform: uppercase;
    color: white;
    text-shadow: 1px 2px 4px black;
}