*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.outer{
    height: 100vh;
    background-image: linear-gradient(pink,violet,darkviolet);
    display: flex;
    /* justify-content: center; */
    align-items: center;
    gap: 20px;
    overflow: auto;
}

::-webkit-scrollbar{
    display: none;
}


.outer>img{
    height: 250px;
    width: 250px;
    border-radius: 10px;
    box-shadow: 0px 3px 5px black;
    transition: all 0.5s ease-in;
}

.outer > img:hover{
    transform: scale(1.05);
    box-shadow: 0px 3px 5px black;
}