*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

.container{
    height: 500px;
    width: 800px;
    border: 2px solid black;
    background-color: brown;
    display: flex;              /* by default it will take positions in row  */
    /* flex-direction: column; */
    /* flex-direction: column-reverse; */
    /* flex-direction: row; */
    /* flex-direction: row-reverse; */
    justify-content: center;     /* main axis ----->flex-start,flex-end,space-between,space-around,space-evenly*/
    align-items: center;       /* cross axis(opposite to justify-content)----->flex-start,flex-end,center */
    gap:10px;
}

.container>.box{
    height: 80px;
    width: 90px;
    border: 2px solid white;
    color: white;
    font-weight: bold;
    font-size: 19px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.outer{
    height: 100vh;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}
