*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

nav{
    height: 80px;
    background-color: black;
    color: white;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

nav>ul{
    gap: 20px;
    display: flex;
}

nav>ul>li{
    list-style: none;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: bold;
    cursor: pointer;
}

main{
    height: 250px;
    background-color:cadetblue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

main>h1{
    text-transform: capitalize;
    letter-spacing: 1.4px;
    color: white;
    text-shadow: 1px 2px 2px black;
}

main>p{
    font-size: 19px;
    font-weight: bold;
    color: white;
    text-shadow: 1px 2px 2px black;
}

main>button{
    padding: 15px 35px;
    background-color: brown;
    color: white;
    font-size: 16px;
    font-weight: bold;
    text-transform: capitalize;
    border-radius: 10px;
    border: none;
    cursor: pointer;
}

section{
    height: calc(100vh - 330px);  /* wholepage 100vh - 80px + 250px */
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color:chartreuse     ;
}

section>.card{
    height: 250px;
    width: 350px;
    /* border: 2px solid black; */
    border-radius:15px ;
    box-shadow: 0px 3px 5px black;
    background-color:white;
}

.card>img{
    height: 60%;
    width: 100%;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
}

.card>h2{
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 1.3px;
    margin-bottom: 3px;
}

.card>p{
    text-align: center;
    font-size: 18px;
}