*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: chartreuse;
    height: 100vh;
    width: 90vw;          /* for width we can use percentage also */
}

.outer{
    height: 400px;
    width: 800px;
    background-color: blue;
}

.outer>.inner{
    height:50%;
    width: 50%;
    /* percentage is used when it has parent to access */
    background-color: red;
}

/* Relative units -> %,vh,vw,em,rem
   Absolute units -> px,cm,mm */